{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Éditer le Service</h1>
    <div class="container mt-5 p-4 rounded-4 cadre">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card rounded-4 avis">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.image) }}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button class="btn btn-primary mt-3">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 text-center">
                <a href="{{ path('app_service_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
