{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Éditer l'horaire</h1>
    <div class="container p-4 rounded-4 mt-5 cadre">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card avis">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.day) }}
                            {{ form_widget(form.day, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.opening_time) }}
                            {{ form_widget(form.opening_time, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.closing_time) }}
                            {{ form_widget(form.closing_time, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <button class="btn btn-primary mt-3">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8 text-center">
                <a href="{{ path('app_schedule_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
